.boardRow {
  display: flex;
}

.boardRow:first-child .boardCell {
  border-top: none;
}

.boardRow:last-child .boardCell {
  border-bottom: none;
}

.boardCell {
  min-width: 2em;
  min-height: 2em;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  cursor: pointer;
  user-select: none;
  transition: all 500ms;
}

.boardCell:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.05);
}

.boardCell:first-child {
  border-left: none;
}

.boardCell:last-child {
  border-right: none;
}
