*::-moz-selection {
  color: #fff;
  background-color: #000;
}

*::selection {
  color: #fff;
  background-color: #000;
}

.center__all {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 100px;
  width: 100px;
  cursor: pointer;
  font-size: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  background-color: #fff;
  transition: background 200ms;
  user-select: none;
  color: black;
}

.square:disabled {
  color: black;
  cursor: progress;
}

.square:hover {
  background-color: rgba(0, 0, 0, .1);
}

.d__flex {
  display: flex;
}

.alert {
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.line {
  color: #444;
  margin-bottom: 10px;
  margin-top: 0;
}

.center {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.center:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .square {
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 300px) {
  .square {
    height: 60px;
    width: 60px;
  }
}